$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

/* Font Face*/
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat.woff2) format("woff2");
  font-weight: 500 700;
}

@font-face {
  font-family: "Fruances";
  src: url(../assets/fonts/Fraunces.woff2) format("woff2");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $cream;
  font-size: 0.875rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  min-height: 100svh;
  padding: 2rem 1rem 0;
  font-family: "Montserrat", sans-serif;
}

.attribution {
  font-size: 0.68rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
